table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 90%;
    margin-top: 20px;
}

th, td {
    padding: 5px;
    background: #b1b1b1;
}

th {
    text-align: left;
}